
<script src="/js/header.js"></script>
</body>
<footer>
  <div class="footContainer">
    <div class="socialIcons left">
      <a href="https://www.facebook.com/makeitpopballoonco" target="_blank"
      rel="external">
        <i class="fa fa-facebook-official"></i>
      </a>
      <a href="https://www.instagram.com/makeitpopballoonco/" target="_blank"
      rel="external">
        <i class="fa fa-instagram"></i>
      </a>
      <%# <a href=#pinterest>
        <i class="fa fa-pinterest-p"></i>
      </a>
      <a href=#twitter>
        <i class="fa fa-twitter"></i>
      </a> %>
      <a href="https://www.youtube.com/watch?v=CfBS3j_sW4o" target="_blank"
      rel="external">
        <i class="fa fa-youtube"></i>
      </a>
    </div>
    <div class="right">
      <h3 class="book"><a href="/book">Book</a> ...to save your spot </h3>
    </div>
  </div>
  <p id="author"><a href="https://counsellorj.herokuapp.com/">Designed and developed by Jamie Counsellor, 2022</a></p>
</footer>
</html>
