<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Make it pop balloon company</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <!--Google fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
  <!--awesome font icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<header>
  <nav class="navbar">
       <!-- LOGO -->
       <div class="logo">
         <a href="/" target="_self">
           <img src="/images/MakeItPopLogo.png" width="300px" alt="Make it pop logo"/>
         </a>
       </div>
       <!-- NAVIGATION MENU -->
       <ul class="nav-links">
         <!-- USING CHECKBOX HACK -->
         <input type="checkbox" id="checkbox_toggle" />
         <label for="checkbox_toggle" class="hamburger">&#9776;</label>
         <!-- NAVIGATION MENUS -->
         <div class="menu">
           <li class="products">
             <a href="/">Products &#8250;</a>
             <!-- DROPDOWN MENU -->
             <ul class="dropdown">
               <li><a href="/standard-garland">Standard Garland </a></li>
               <li><a href="/luxury-garland">Luxury Garland</a></li>
               <li><a href="/moon-gate-garland">Moon Gate Garland</a></li>
               <li><a href="/rainbow-arch">Rainbow Arch</a></li>
               <li><a href="/balloon-mosaic">Balloon Mosaic</a></li>
               <li><a href="/add-ons">Add-ons</a></li>
             </ul>
           </li>
           <li><a href="/faq">FAQ</a></li>
           <li><a href="/testimonials">Testimonials</a></li>
           <li><a href="/about">About</a></li>
           <li class="book"><a href="/book">Book</a></li>
         </div>
       </ul>
     </nav>
</header>
<body class="container">
