<%- include("partials/header"); -%>

<div class="insideContainer">
  <section class="intro">
    <div class="left">
      <h1 id="headline">About me</h1>
      <h1 class="headline2"><br /></h1>
      <img src="/images/PinkDots.png" class="pinkDotsImage" alt="Pink dots">
      <h2>My name is Heather Riley. I am the owner and creator of Make It Pop Balloon Company, and my job is to make your event pop with luxury style balloon decor.</h2>
    </div>
    <div class="right">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage2" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage3" alt="Yellow dots">
    </div>
  </section>
</div>

<section class="aboutMe">
  <div>
    <img src="/images/Bio.jpg" class="bioImage" alt="Profile picture of Heather Riley" style="width:70%"/>
    <h2>How it all started...</h2>
    <p>I am a wife and busy mother of four. I developed a passion for throwing parties when my oldest daughter turned 3. My husband will tell you today that my “Pinterest Parties” are always over the top. I don’t know how to do small! </p>
    <p>When my youngest sister got engaged, I threw her a bridal shower. I decided to try and tackle building not one but TWO garlands for that event. It took FOREVER! I had no idea what I was doing but the garlands stole the décor show. They became a party staple for me but there had to be an easier way to put them together! I became obsessed and watched endless tutorials. I used any event I could as an excuse to practice but there are only so many excuses to celebrate.</p>
    <p>One day I decided to offer some garlands to a local community group.  My inbox irrupted! With so much interest I decided to start Make It Pop Balloon Company and really do this thing! I am excited to make your vision to come to life and make your event come to life. </p>
  </div>
</section>


<%- include("partials/footer"); -%>
