<%- include("partials/header"); -%>


<div class="insideContainer">
  <section class="intro garland">
    <div class="left">
      <h1 id="headline">Add-on Pieces</h1>
      <h1 class="headline2">$350</h1>
      <img src="/images/PinkDots.png" class="pinkDotsImage" alt="Pink dots">
      <h2>The options are endless with balloon decor! Include columns, a mini garland and so much more to really make your next event truly unforgettable!</h2>
        <p>Please note that these pieces are only available as an add-on to a main piece!</p>
        <p>Any Installs farther 10 miles from the Lake (Lake Stevens, WA) will incur a calculated delivery fee based on location.</p>
    </div>
    <div class="right">
      <div class="yellowBox"></div>
      <img src="/images/addOn1.jpg" class="introImage" alt="Add-on to garlands">
      <div class="peachBox"></div>
      <img src="/images/addOn6.jpg" class="introImage2" alt="Add-on to garlands">

      <img src="/images/YellowDots.jpg" class="yellowDotsImage" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage2" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage3" alt="Yellow dots">
    </div>
  </section>
  <section class="slideshow">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img src="/images/addOn5.jpg" alt="Add-on to garlands">
      <img src="/images/addOn3.jpg" alt="Add-on to garlands">
    </div>

    <div class="mySlides fade">
      <img src="/images/addOn4.jpg" alt="Add-on to garlands">
      <img src="/images/addOn1.jpg" alt="Add-on to garlands">
    </div>

    <div class="mySlides fade">
      <img src="/images/addOn2.jpg" alt="Add-on to garlands">
      <img src="/images/addOn6.jpg" alt="Add-on to garlands">
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

  </section>

</div>


<%- include("partials/footer"); -%>
