<%- include("partials/header"); -%>


<div class="insideContainer">
  <section class="intro">
    <div class="left">
      <h1 id="headline">Add-on Pieces</h1>
      <h1 class="headline2">$350</h1>
      <img src="/images/PinkDots.png" class="pinkDotsImage" alt="Pink dots">
      <h2>The options are endless with balloon decor! Include columns, a mini garland and so much more to really make your next event truly unforgettable!</h2>
        <p>Please note that these pieces are only available as an add-on to a main piece!</p>
        <p>Any Installs farther 10 miles from the Lake (Lake Stevens, WA) will incur a calculated delivery fee based on location.</p>
    </div>
    <div class="right">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage2" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage3" alt="Yellow dots">
    </div>
  </section>

</div>


<%- include("partials/footer"); -%>
