<%- include("partials/header"); -%>

<div class="insideContainer">
  <section class="intro">
    <div class="left">
      <h1 id="headline">Book Now</h1>
      <h1 class="headline2"><br /></h1>
      <img src="/images/PinkDots.png" class="pinkdotsImage" alt="Pink dots">
      <h2>Please include the product you are interested in, your event date and any other details relevant to the build. I will contact you at my earliest convenience to discuss the event specifics and specific details to make your event a success. Booking your event as far in advance as possible is greatly advised to make sure your requested date is available. I look forward to helping you make your event one to remember!</h2>
    </div>
    <div class="right">
      <div class="yellowBox"></div>
      <img src="/images/Luxury3_revised.jpg" class="introImage" alt="Teaser image, first birthday">
    </div>
  </section>

</div>





<%- include("partials/footer"); -%>
