<%- include("partials/header"); -%>

<div class="insideContainer">

  <section class="intro">
    <div class="left">
      <h1>Frequently Asked</h1>
      <h1 class="headline2">Questions</h1>
      <img src="/images/PinkDots.png" class="pinkdotsImage" alt="Pink dots">
      <h2>We've compiled the frequently asked questions from our clients. Please review and let us know if you have further questions that you would like to see added to this list. Thank you!</h2>
    </div>
    <div class="right">
      <div class="yellowBox"></div>
      <img src="/images/Standard2_revised.jpg" class="introImage" alt="Standard Garland">
    </div>
  </section>
  <section class="colContainer">

    <div class="col">
      <h2>How do I book my event?</h2>
      <p>Click the “Book Now” link on this website. From there please include your name, email address, phone number, event date and piece you are interested in booking. If you have a specific theme, color scheme, etc. you are looking for, feel free to include this too. I will connect with you shortly after to discuss your piece in more detail and provide you with a quote based on any add-on you might want. Once agreed, a 30% non-refundable retaining fee of the estimated cost of your piece is required to secure your date and time. The remaining balance is owed 5 days prior to your event.</p>
    </div>

    <div class="col">
      <h2>Can I add more to my piece at my event?</h2>
      <p>I plan my materials based on the quote we discuss prior to the date. That said, I know that when you see the piece in the final space, additions are sometimes necessary. I am happy to add on to your piece, time and materials allowing. Any additional cost from day of add-ons are due at the time of completion.</p>
    </div>

    <div class="col">
      <h2>What is your cancelation/refund policy?</h2>
      <p>The 30% retaining fee is nonrefundable. The remaining cost can be refunded if notice is received 3 days prior to your event. Reschedules may be accommodated if proper notification is received based on company availability. A late fee of $25 will be included if our scheduled install/teardown times are delayed more than 30 mins. Any delay of more than 1 hr to install will incur an additional $25 fee OR may be cause for cancelation of your installation without refund. At time of tear down, a delay of more than 30 minutes from our scheduled time will incur a $25 late fee and continue to accrue at the same rate until tear down can be completed. </p>
    </div>

    <div class="col">
      <h2>Can I set up a garland outdoors?</h2>
      <p>Yes. Outdoor garlands are beautiful and they look amazing in the natural light but there are considerations that should be made. Ideally outdoor garlands should be in a shaded area and free from obstructions. Being in direct heat breaks down a balloon more quickly. It causes oxidation which physically coats the balloons in a white film and can make them pop quickly.</p>
    </div>

    <div class="col">
      <h2>Do I need to provide anything?</h2>
      <p>I will need an outlet in order to plug in my balloon pump but I bring and provide all materials to create and install the garland. I am happy to incorporate any items you have into your garland if I have previous knowledge.</p>
    </div>
  </section>
</div>


<%- include("partials/footer"); -%>
