<%- include("partials/header"); -%>

<div class="insideContainer">
  <section class="intro">
    <div class="left">
      <h1 id="headline">Make your event pop!</h1>
      <img src="/images/PinkDots.png" class="pinkdotsImage" alt="Pink dots">
      <h2>Give your next event that luxury look with one of my balloon decoration
        options. Each piece is custom made to fit your vision and sure to make your
        decor POP!</h2>
    </div>
    <div class="right">
      <div class="yellowBox"></div>
      <img src="/images/image0.jpeg" class="introImage" alt="Teaser image, first birthday">
    </div>
  </section>

  <section class="slideshow">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img src="/images/Standard1_revised.jpg" >
      <img src="/images/Standard2_revised.jpg" >
      <div class="text">Standard Garland</div>
    </div>

    <div class="mySlides fade">
      <img src="/images/Luxury1_revised.jpg" >
      <img src="/images/Luxury2_revised.jpg" >
      <div class="text">Luxury Garland</div>
    </div>

    <div class="mySlides fade">
      <img src="/images/MoonGate1_revised.jpg" >
      <img src="/images/MoonGate2_revised.jpg" >
      <div class="text">Moon Gate Garland</div>
    </div>

    <div class="mySlides fade">
      <img src="/images/Mosaic1_revised.jpg" >
      <img src="/images/Mosaic2_revised.jpg" >
      <div class="text">Balloon Mosaic</div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
    </div>

  </section>

</div>

<%- include("partials/footer"); -%>
