<%- include("partials/header"); -%>

<div class="insideContainer container1">
  <section class="intro">
    <div class="left">
      <h1 id="headline">Make your event</h1>
      <h1 class="headline2">pop!</h1>
      <img src="/images/PinkDots.png" class="pinkDotsImage" alt="Pink dots">
      <h2>Give your next event that luxury look with one of my balloon decoration
        options. Each piece is custom made to fit your vision and sure to make your
        decor POP!</h2>
    </div>
    <div class="right">
      <div class="yellowBox"></div>
      <img src="/images/Luxury3_revised.jpg" class="introImage" alt="Teaser image, first birthday">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage2" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage3" alt="Yellow dots">
    </div>
  </section>

  <section class="slideshow">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <a href="/standard-garland">
      <img src="/images/StandardGarland3.jpg" alt="Standard Garland">
      <img src="/images/StandardGarland7.jpg" alt="Standard Garland">
      <div class="text">Standard Garland</div>
      </a>
    </div>

    <div class="mySlides fade">
      <a href="/luxury-garland">
      <img src="/images/Luxury2_revised.jpg" alt="Luxury Garland">
      <img src="/images/LuxuryGarland5.jpg" alt="Luxury Garland">
      <div class="text">Luxury Garland</div>
      </a>
    </div>

    <div class="mySlides fade">
      <a href="/moon-gate-garland">
      <img src="/images/MoonGate1_revised.jpg" alt="Moon Gate Garland">
      <img src="/images/MoonGate2_revised.jpg" alt="Moon Gate Garland">
      <div class="text">Moon Gate Garland</div>
      </a>
    </div>

    <div class="mySlides fade">
      <a href="/balloon-mosaic">
      <img src="/images/Mosaic1_revised.jpg" alt="Balloon Mosaic">
      <img src="/images/Mosaic2_revised.jpg" alt="Balloon Mosaic">
      <div class="text">Balloon Mosaic</div>
      </a>
    </div>

    <div class="mySlides fade">
      <a href="/add-ons">
      <img src="/images/addOn1.jpg" alt="Add-on to garlands">
      <img src="/images/addOn5.jpg" alt="Add-on to garlands">
      <div class="text">Balloon Mosaic</div>
      </a>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
    </div>

  </section>

</div>

<%- include("partials/footer"); -%>
