<%- include("partials/header"); -%>

<div class="insideContainer">
  <section class="intro garland">
    <div class="left">
      <h1 id="headline">Luxury Garland</h1>
      <h1 class="headline2">$350</h1>
      <img src="/images/PinkDots.png" class="pinkDotsImage" alt="Pink dots">
      <h2>Make your next event the talk of the town with our Luxury Garland. Add a Luxury Garland to your Birthday, Anniversary, Shower, Business event, Reunion and so much more.</h2>
        <p>This garland includes 4 sized balloons (5”, 11”, 16” & 36”), 3 colors and starts at 12’ in length.  </p>
        <p>Additional length, colors, printed balloons, orbs, bobo bubbles, jumbo balloons, mylar and florals/greenery available for an additional cost! </p>
        <p>Any Installs farther 10 miles from the Lake (Lake Stevens, WA) will incur a calculated delivery fee based on location.</p>
    </div>
    <div class="right">
      <div class="yellowBox"></div>
      <img src="/images/LuxuryGarland5.jpg" class="introImage" alt="Luxury Garland">
      <div class="peachBox"></div>
      <img src="/images/LuxuryGarland1.jpg" class="introImage2" alt="Luxury Garland">

      <img src="/images/YellowDots.jpg" class="yellowDotsImage" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage2" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage3" alt="Yellow dots">
    </div>
  </section>
  <section class="slideshow">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img src="/images/LuxuryGarland2.jpg" alt="Luxury Garland">
      <img src="/images/LuxuryGarland4.jpg" alt="Luxury Garland">
    </div>

    <div class="mySlides fade">
      <img src="/images/LuxuryGarland3.jpg" alt="Luxury Garland">
      <img src="/images/LuxuryGarland1.jpg" alt="Luxury Garland">
    </div>

    <div class="mySlides fade">
      <img src="/images/Luxury2_revised.jpg" alt="Luxury Garland">
      <img src="/images/LuxuryGarland5.jpg" alt="Luxury Garland">
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

  </section>


</div>




<%- include("partials/footer"); -%>
