<%- include("partials/header"); -%>

<div class="insideContainer">
  <section class="intro garland">
    <div class="left">
      <h1 id="headline">Standard Garland</h1>
      <h1 class="headline2">$250</h1>
      <img src="/images/PinkDots.png" class="pinkDotsImage" alt="Pink dots">
      <h2>Want to kick up your party decor a notch. Add a standard garland to your Birthday, Anniversary, Shower or Business event. </h2>
      <p>This garland includes 3 sized balloons (5”, 11” & 16”), 2 colors and starts at 8-10’ in length. </p>
        <p>Additional length, colors, printed balloons, mylar and florals/greenery available for an additional cost! </p>
        <p>Any Installs farther 10 miles from the Lake (Lake Stevens, WA) will incur a calculated delivery fee based on location. </p>
    </div>
    <div class="right">
      <div class="yellowBox"></div>
      <img src="/images/StandardGarland1.jpg" class="introImage" alt="Standard Garland">
      <div class="peachBox"></div>
      <img src="/images/StandardGarland2.jpg" class="introImage2" alt="Standard Garland">

      <img src="/images/YellowDots.jpg" class="yellowDotsImage" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage2" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage3" alt="Yellow dots">


    </div>
  </section>
  <section class="slideshow">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img src="/images/StandardGarland3.jpg" alt="Standard Garland">
      <img src="/images/StandardGarland4.jpg" alt="Standard Garland">
    </div>

    <div class="mySlides fade">
      <img src="/images/StandardGarland5.jpg" alt="Standard Garland">
      <img src="/images/StandardGarland6.jpg" alt="Standard Garland">
    </div>

    <div class="mySlides fade">
      <img src="/images/StandardGarland7.jpg" alt="Standard Garland">
      <img src="/images/StandardGarland8.jpg" alt="Standard Garland">
    </div>

    <div class="mySlides fade">
      <img src="/images/StandardGarland9.jpg" alt="Standard Garland">
      <img src="/images/StandardGarland2.jpg" alt="Standard Garland">
    </div>

    <div class="mySlides fade">
      <img src="/images/Standard2_revised.jpg" alt="Standard Garland">
      <img src="/images/StandardGarland1.jpg" alt="Standard Garland">
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
    </div>

  </section>

</div>



<%- include("partials/footer"); -%>
