<%- include("partials/header"); -%>

<div class="insideContainer">
  <section class="intro">
    <div class="left">
      <h1>Testimonials</h1>
      <h1 class="headline2"><br /></h1>
      <img src="/images/PinkDots.png" class="pinkdotsImage" alt="Pink dots">
      <h2>Hear from some of our clients and their experiences with our product. Leave your own testimonial on our Facebook page and you could see it represented here in the future.</h2>
    </div>
    <div class="right">
      <div class="yellowBox"></div>
      <img src="/images/MoonGate1_revised.jpg" class="introImage" alt="Moon Gate Garland">
    </div>
  </section>

  <section class="colContainer">

    <div class="col">
      <h2>Birthday Party</h2>
      <p>“Professional and so easy to work with! Heather will turn your vision into reality! Her creativity blew me away, I wasn’t even aware of what was possible! Heather’s service is worth every penny and will take your event to a whole fun/professional level. 100% recommend her to everyone!!” </p>
      <p>-Lacey Ricards</p>
    </div>
    <div class="col">
      <h2>Birthday Party</h2>
      <p>“If you are trying to elevate your party to the next level you neeeeeed Make It Pop Balloon Company! I can’t even put in words how amazing her work is. Everyone was in awe of the balloon art she made. From the initial consultation, to working together on the vision I had, to execution and set up, it was all a dream. She simply made our sons birthday party unforgettable!” </p>
      <p>Alexandra Kruse</p>
    </div>
    <div class="col">
      <h2>4th of July Party</h2>
      <p>“At first when thinking about adding Independence Day decorations, I thought about getting some flags and a couple of balloons for a party I was throwing. I reached out to Heather who suggested a balloon garland, so I said “Sure, why not!” but I had no idea what would come out of that conversation. Her design far outweighed any expectations I had. I was no longer having just a backyard BBQ, but a true celebration. 5 star service all the way!” </p>
      <p>-Jamie Counsellor</p>
    </div>
    <div class="col">
      <h2>Bridal Party</h2>
      <p>“Heather was amazing to work with and did an AMAZING job! She created exactly what I had envisioned in my head. I don’t think we’ll ever be able to throw a party without one of these now! Thank you Heather!” </p>
      <p>-Shayla Priest</p>
    </div>
    <div class="col">
      <h2>Grand Opening</h2>
      <p>“Heather is so talented. She created a beautiful balloon installation for my grand opening. The colors she choose matched my shop perfectly. The quality of balloons was also on point, last for days after the event. I recommend Make it pop for any event!! Thank you Heather!” </p>
      <p>-Chantelle McCorkle</p>
    </div>
  </<section>
    
</div>



<%- include("partials/footer"); -%>
