/* CONTAINER FOR PAGE */
.insideContainer {
  display: flex;
  flex-direction: column;
}

/* INTRO SECTION */
.intro {
  padding: 20px;
  height: 300px;
  width: 85vw;
  margin: 0 auto 200px;
  display: inline-flex;
  flex-direction: row;
  position: relative;
}

/* left side of intro section */
.intro .left {
  flex-direction: column;
  width: 55%;
}

.intro h1 {
  padding-left: 60px;
  top: 15px;
  position: relative;
  margin-bottom: 0;
}

.headline2 {
  position: absolute;
  left: 130px;
  margin-top: 0;
}

.intro h2 {
  margin-left: 70px;
  margin-top: 100px;
  width: 580px;
}

.pinkDotsImage {
  width: 200px;
  position: absolute;
  top: 160px;
  left: -10px;
}

.yellowDotsImage, .yellowDotsImage2, .yellowDotsImage3 {
  position: absolute;
  width: 100px;
  left: 35vw;
  z-index: -2;
}

.yellowDotsImage2 {
  top: 395px;
}

.yellowDotsImage3 {
  top: 795px;
}

/* right side of intro section */
.intro .right {
  margin-left: 20px;
  margin-top: 40px;
  position: relative;
}

.introImage {
  height: 20em;
  z-index: 1;
  position: absolute;
  top: 20px;
  margin-left: 60px;
}

.introImage2 {
  height: 20em;
  z-index: 1;
  position: absolute;
  top: 400px;
  margin-left: 60px;
}

.introImage3 {
  height: 20em;
  z-index: 1;
  position: absolute;
  top: 120px;
  margin-left: 60px;
  width: 38em;
}

.yellowBox {
  background-color: var(--Mustard);
  height: 20em;
  width: 27em;
  display: inline-flex;
  z-index: -1;
  position: absolute;
  margin-left: 80px;
}

.yellowBox2 {
  background-color: var(--Mustard);
  position: absolute;
  top: 100px;
  height: 20em;
  width: 38em;
  display: inline-flex;
  z-index: -1;
  position: absolute;
  margin-left: 80px;
}

.peachBox {
  background-color: var(--Peach);
  height: 20em;
  width: 27em;
  display: inline-flex;
  z-index: -1;
  position: absolute;
  margin-left: 80px;
  top: 380px;
}

/* SLIDESHOW SECTION */
.slideshow {
  background-color: var(--Purple);
  padding: 20px 20px 20px 0px;
  height: 400px;
  width: 1000px;
  position: relative;
  margin: 0 auto 30px;
  flex-direction: column;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 45%;
  height: 77%;
}

.mySlides img:nth-child(1) {
  margin-left: 45px;
}

.mySlides img:nth-child(2) {
  margin-left: 20px;
  position: absolute;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--White);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--Peach);
}

/* Caption text */
.text {
  color: var(--White);
  font-size: 1.3em;
  padding: 8px 12px;
  position: absolute;
  bottom: 35px;
  width: 95%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 30px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation for dots */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* FAQ and TESTIMONIAL */
.colContainer {
  display: flex;
  width: 99%;
  margin: auto;
  flex-direction: row;
}

.col {
  display: flex;
  width: 20%;
  padding: 20px;
  flex-direction: column;
  margin: 10px;
  font-weight: 500;
}

.col:nth-child(1), .col:nth-child(3), .col:nth-child(5) {
  outline: dotted var(--Purple) 3px;
  color: var(--Purple);
  background-color: var(--White);
}

.col:nth-child(2), .col:nth-child(4), .col:nth-child(6) {
  background-color: var(--Purple);
  color: var(--Mustard);
}

.col:nth-child(2) h2, .col:nth-child(4) h2, .col:nth-child(6) h2 {
  color: var(--Mustard);
}

/* ABOUT ME */
.aboutMe {
  background-image: url(/images/MoonGate1_revised.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1280px auto;
  background-attachment: fixed;
  margin-top: 5px;
  position: relative;
}

.aboutMe div {
  width: 400px;
  height: 800px;
  padding: 0 50px 50px;
  text-align: left;
  margin: auto;
  background-color: var(--White);
}

.bioImage {
  position: relative;
  top: -60px;
  left: 60px;
}

/* GARLANDS */
.intro.garland {
  margin-bottom: 500px;
}

.intro.garland.moon {
  margin-bottom: 700px;
}

.left p {
  position: relative;
  left: 70px;
  width: 580px;
  height: 700px;
  font-size: 1.2em;
}

.left li {
  position: relative;
  left: 70px;
  color: var(--Purple);
  font-size: 1.2em;
}


/* MEDIA QUERIES */
@media (max-width: 1715px) {
  .introImage3 {
    width: 30em;
  }
  .yellowBox2 {
    width: 30em;
  }
}
@media (max-width: 1500px) {
  .container2 {
    height: 1100px;
  }
}

@media (max-width: 1280px) {
  .intro .left {
    width: 70%;
  }

  .yellowBox, .introImage, .peachBox, .introImage2, .introImage3, .yellowBox2  {
    display: none;
  }

  .yellowDotsImage, .yellowDotsImage2, .yellowDotsImage3 {
    left: 20vw;
  }

  .colContainer {
    flex-direction: column;
    width: 90%;
  }

  .col {
    width: 95%;
  }
}

@media (max-width: 1040px) {
  .intro .left {
    width: 80%;
  }

  .left p {
    width: 400px;
  }

  .slideshow {
    width: 600px;
  }

  .mySlides img:nth-child(1), .mySlides .text {
    width: 400px;
    margin-left: 110px;
    margin-bottom: 30px;
  }

  .mySlides img:nth-child(2) {
    display: none;
  }

  .dot {
    margin: 0;
  }

  .colContainer {
    margin-left: 20px;
    margin-right: 10px;
  }

  .yellowDotsImage, .yellowDotsImage2, .yellowDotsImage3 {
    left: 5vw;
  }
}

@media (max-width: 1020px) {
  .intro h1 {
    top: 45px;
  }

  .left p, .intro h2 {
    width: 350px;
  }
}

/* Extra small devices */
@media (max-width: 600px) {
  .left {
    width: 100%;
  }

  .intro h1 {
    width: 120%;
  }

  .intro h2 {
    margin-top: 120px;
  }

  .intro.garland {
    margin-bottom: 500px;
  }

  .yellowDotsImage, .yellowDotsImage2, .yellowDotsImage3 {
    display: none;
  }

  .slideshow {
    width: 550px;
    margin-top: 70px;
    height: 350px;
    margin: 70px 10px 0;
  }

  .mySlides img:nth-child(1), .mySlides .text {
    width: 350px;
    margin-left: 100px;
    margin-bottom: 30px;
  }
  .colContainer {
    width: 110%;
  }
}

@media (max-width: 400px) {
  .intro h1 {
    font-size: 10vw;
    top: 70px;
  }
  .intro h2 {
    margin-top: 150px;
  }
  .intro.garland.moon {
    margin-bottom: 700px;
  }
}
