/* CONTAINER FOR PAGE */
.insideContainer {
  display: flex;
  flex-direction: column;
}

/* INTRO SECTION */
.intro {
  padding: 20px;
  height: 300px;
  width: 85vw;
  margin: 0 auto 200px;
  display:inline-flex;
  flex-direction: row;
  position: relative;
}

/* left side of intro section */
.intro .left{
  flex-direction: column;
  width: 55%;
}

.intro h1 {
  padding-left: 60px;
  margin-bottom: 5px;
  position: relative;
}

.headline2 {
  position: absolute;
  top: -40px;
  left: 170px;
}

.intro h2 {
  vertical-align: top;
  margin-left: 70px;
}

.pinkdotsImage {
  width: 200px;
  position: absolute;
  top: 160px;
}

/* right side of intro section */

.intro .right {
  margin-left: 20px;
  margin-top: 40px;
  position: relative;
}

.introImage {
  height: 20em;
  z-index: 1;
  position: absolute;
  top: 20px;
  margin-left: 60px;

}

.yellowBox {
  background-color: var(--Mustard);
  height: 20em;
  width: 27em;
  display: inline-flex;
  z-index: -1;
  position: absolute;
  margin-left: 80px;
}

/* SLIDESHOW SECTION */
.slideshow {
  background-color: var(--Purple);
  padding: 20px 20px 20px 0px;
  height: 400px;
  width: 1000px;
  position: relative;
  margin: 0 auto 30px;
  flex-direction: column;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 45%;
  height: 77%;
}

.mySlides img:nth-child(1){
  margin-left: 45px;
}

.mySlides img:nth-child(2){
  margin-left: 20px;
  position: absolute;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--Peach);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1.3em;
  padding: 8px 12px;
  position: absolute;
  bottom: 35px;
  width: 95%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 30px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  /* z-index: 5; */
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation for dots */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* FAQ and TESTIMONIAL */
.colContainer {
  display: flex;
  width: 99%;
  margin: auto;
  flex-direction: row;
}
.col {
  display: flex;
  width: 20%;
  padding: 20px;
  flex-direction: column;
  margin: 10px;
  font-weight: 500;
}

.col:nth-child(1), .col:nth-child(3), .col:nth-child(5) {
  outline: dotted var(--Purple) 3px;
  color: var(--Purple);
}

.col:nth-child(2), .col:nth-child(4), .col:nth-child(6) {
  background-color: var(--Purple);
  color: var(--Mustard);
}

.col:nth-child(2) h2, .col:nth-child(4) h2, .col:nth-child(6) h2  {
  color: var(--Mustard);
}

/* ABOUT ME */
.aboutMe {
  background-image: url(/images/MoonGate1_revised.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1280px auto;
  background-attachment: fixed;
}

.aboutMe div {
  width: 400px;
  height: 800px;
  padding: 0 50px 50px;
  text-align: left;
  margin: auto;
  background-color: white;

}

/* MEDIA QUERIES */
@media (max-width: 1280px) {
  .intro {
    flex-direction: column;
  }
  .intro .left {
    width: 90%;
    margin-bottom: 20px;
  }
  .intro .right {
    margin: auto;
  }
  .yellowBox {
    margin-left: -180px;
  }
  .introImage {
    margin-left: -200px;
  }
  .slideshow {
    margin-top: 230px;
  }
  .colContainer {
    margin-top: 280px;
    flex-direction: column;
    width: 90%;
  }
  .col {
    width: 95%;
  }
}

@media (max-width: 1040px) {
  .slideshow {
    width:80%;
    height: 45%;
    margin-top: 250px;
  }
  .mySlides img:nth-child(1) {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
  }
  .mySlides img:nth-child(2) {
    display: none;
  }
  .dot {
    margin: 0;
  }
  .colContainer {
    margin-top: 350px;
    margin-left: 20px;
    margin-right:10px;
  }
}

@media (max-width: 770px) {
  .slideshow {
    margin-top: 380px;
  }
  .colContainer {
    margin-top: 420px;
  }
}
